@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8d8e4;
}

* {
    box-sizing: border-box;
}

h2, h3 {
    color: #2b6777;
}

footer {
    padding: 20px;
    background-color: white;
    color: #52ab98;
    text-align: center;
    font-weight: bold;
}

nav a, #contact a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #52ab98;
    padding: 5px;
}

nav a:hover, #contact a:hover {
    border-bottom: 2px solid #52ab98;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.detail-project-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.jumbotron {
    padding: 60px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    color: black;
    position: relative;
    z-index: 1000;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav ul {
    text-align: center;
    padding: 0px;
}

nav {
    background-color: white;
    padding: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 999;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

header {
    display: inline;
}

.center {
    text-align: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.listSkills li {
    margin: 10px 0;
}

blockquote {
    color: rgba(82, 171, 152, 1);
    font-family: Tahoma, sans-serif;
    font-size: 4vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 10px;
 }

 blockquote p {
    font-style: italic;
    margin: 0;
 }
 
 blockquote cite {
    font-size: 0.6em;
 }

 .photo-quotes{
    position: relative;
    overflow: auto;
    max-height: 600px;
 }

 .quotes-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
 }

 .flex-container-column {
    display: flex;
    flex-direction: column;

    /* properti pendukung */
    max-width: 800px;
    margin: 0 auto;
}

.flex-container-row {
    display: flex;
    justify-content: center;
}

.info-contact{
    flex-basis: 40%;
    margin: 15px;
}

.send-message{
    flex-basis: 60%;
    margin: 15px;
}

.project-item {
    flex-basis: 50%;
    margin-right: 15px;
}

.project-item:hover {
    border: 2px solid #52ab98;
}

.project-title, .year-project {
    text-align: center;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #fefefe;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #52ab98;
    color: white;
    border-radius: 10px 10px 0 0;
    height: 10%;
    margin: 0;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    height: 80%;
    overflow: auto;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #52ab98;
    color: white;
    height: 10%;
    border-radius: 0 0 10px 10px;
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

textarea, input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-family: inherit;
}

textarea:focus, input[type=text]:focus {
    border: 3px solid #52ab98;
}

textarea {
    height: 150px;
    resize: none;
}

.form-element {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

input[type=submit], button[type=submit] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #52ab98;
    font-family: inherit;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=submit]:hover, button[type=submit]:hover {
    background-color: #2b6777;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .flex-container-row {
        flex-direction: column;
    }
}